body{
    background-color: black;
}
.navbar{
    background-color: black;
}
.label{
    color: whitesmoke;  
}
h3{
    color: whitesmoke;
}
.footer-li {
    width: 13rem;
}
.navbar{
    background-color: black!important;
}
hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0; 
}
#footer-twitter{
    display:inline-block;
    vertical-align:middle;
}
  
#footer-fb{
    display:inline-block;
    vertical-align:middle;
}
  